.options {
    display: flex;
    flex-direction: row;
   
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .option1{
    margin-left: 300px;
  }

  button[type="submit1"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #272630;
    color: #fff;
    font-weight: bold;
    font-family: poppins;
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
  }

  .login{
    font-family: poppins;
    color: #fff;
    
  }

  .letme{
    text-align: center;
    margin-top: 50px;
  }
  

  .two{
    padding-bottom: 0px;
  }



  .num{
    margin-left: 20px;
  }

  .five{
    margin-top: 30px;
  }
  .six{
    margin-top: 150px;
  }

    input[type="email"],
    input[type="password"] {
    background-color: #272630;
    border: 3px solid #56575d;
    border-radius: 10px;
    color: white;
}

.forgot-password{
    text-align: center;
    padding-top: 20px;
}




.seven{
    margin-left: 200px;
    margin-top: 130px;
}


.my-button{
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 20px;
}

